// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, p {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
h1 {
  margin: 30px 40px;
  padding-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
p {
    margin: 20px 40px;
}
a {
  color: rgba(255, 255, 255, 1.0);
}
body {
  background-color: black;
}
